*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

.container {
  background: #000;
  color: #e6e6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.header {
  font-size: clamp(2rem, 5vw, 5rem);
  text-align: center;
  font-weight: 700;
  max-width: 60rem;
  padding-block: clamp(5rem, 20vw, 15rem);
  width: 80%;
}

.cards {
  display: grid;
  justify-content: center;
  gap: 3rem;
  width: 90%;
  margin-inline: auto;
}

.card {
  width: 100%;
  overflow: clip;
}

.card-image-wrapper {
  aspect-ratio: 16/10;
  overflow: clip;
  position: relative;
}

.card-image {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.card-content {
  --padding: clamp(1rem, 5vw, 2rem);
  display: grid;
  gap: 1rem;
  padding: var(--padding);
  padding-bottom: calc(var(--padding) * 2);
}

.card-content .title {
  font-size: clamp(1.25rem, 3vw, 1.75rem);
  font-weight: 700;
}

.card-content .description {
  letter-spacing: 1px;
}

@media (min-width: 60rem) {
  .cards {
    --vertical-offset: clamp(5rem, 10vw, 10rem);
    padding-bottom: var(--vertical-offset);
    grid-template-columns: repeat(2, min(40%, 40rem));
    width: 100%;
    gap: 5rem;
  }

  .card:nth-of-type(odd) {
    translate: 0 var(--vertical-offset);
  }
}

/* Filler */
.filler {
  width: 100%;
  min-height: 100vh;
}